---

---
<button type="button" id="theme-btn" class="header-btn" title="Toggles light & dark" aria-label="auto" aria-live="polite">
  <i id="sun-icon" class="ri-sun-line"/>
  <i id="moon-icon" class="ri-moon-line"/>
</button>
